<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let regel of service.getBestelling()" >
    <div>
      <h6 class="my-0">{{regel.product.naam}}</h6>
      <small class="text-muted">Aantal: {{regel.aantal}}</small>
    </div>
    <span class="text-muted">${{regel.product.prijs}}</span>
  </li>

  <li class="list-group-item d-flex justify-content-between">
    <span>Totaal</span>
    <strong>$ {{service.getBestellingTotal()}}</strong>
  </li>
</ul>
