<section>
  <section class="winkel-lijst" *ngIf="winkelmandService.getBestelling().length > 0" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Naam</th>
          <th scope="col">Aantal</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let regel of winkelmandService.getBestelling()" >
           <th scope="row">1</th>
           <td>{{regel.product.naam}}</td>
           <td>
             <div class="input-group mb-3 input-group-sm">

               <div class="input-group-prepend">
                 <button class="btn btn-outline-danger" type="button"><i class="ion-ios-remove"></i></button>
               </div>
               <input type="number" class="form-control" value="{{regel.aantal}}" />
               <div class="input-group-append">
                 <button class="btn btn-outline-success" (click)="incrementAmount(regel)"><i class="ion-ios-add"></i></button>
               </div>
             </div>
           </td>
           <td>
             <button class="btn btn-outline-danger btn-sm" (click)="triggerRemove(regel)">
               <i class="ion-ios-trash-outline"></i>
             </button>
           </td>
         </tr>
      </tbody>
    </table>
  <!--  <ul class="list-group list-group-flush">

      <li *ngFor="let regel of bestelling"  class="list-group-item d-flex justify-content-between">
        <div class="float-left">
          {{regel.product.naam}}
        </div>
        <div class="float-right">
          <button class="btn btn-primary" (click)="decrementAmount(regel)"><i class="ion-ios-remove"></i></button>
          <span>{{regel.aantal}}</span>
          <button class="btn btn-primary" (click)="incrementAmount(regel)"><i class="ion-ios-add"></i></button>

          <button (click)="removeItem(regel)" class="btn btn-danger"><i class="ion-ios-trash-outline"></i></button>
        </div>
      </li>
      <li>
        {{totalPrice}}
      </li>
    </ul>-->
  </section>
  <section *ngIf="winkelmandService.getBestelling().length == 0">
    <div class="alert alert-danger" role="alert">
      Nog geen producten toegevoegd.
    </div>
  </section>

</section>
