<section class="pb-5">
  <h1 class="display-3 pb-4">Homepage</h1>
  <ngb-carousel *ngIf="discounts.length > 0">
    <ng-template ngbSlide *ngFor="let discount of discounts" >
      <img class="d-block w-100" [src]="'https://www.voordeelmuis.nl/img/jpg/1795/1795346.jpg'" />
      <div class="carousel-caption">
        <h3>Korting: ${{discount.korting}}</h3>
        <p>{{discount.reclameTekst ||'Geen omschrijving beschikbaar' }}</p>
        <p *ngIf="discount.vanDatum != null && discount.totDatum != null" >Geldig van: {{discount.vanDatum}} tot {{discount.totDatum}}</p>
      </div>
    </ng-template>

  </ngb-carousel>
</section>
